.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  .fade-enter-from, .fade-leave-to {
    opacity: 0;
    transform: translateX(-10px); /* This will make the component slide in from the left */
  }